<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Письма</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="../styles/style.css">
    <script src="https://kit.fontawesome.com/0030d03b59.js" crossorigin="anonymous"></script>
    <style>
        body {
            background-color: black;
        }

        a {
            text-decoration: none;
            color: unset;
        }

        .trash_a:hover {
            color: red;
        }

        .trash_a:active {
            color: darkred;
        }

        .i1, .i2, .i3, .i4, .i5, .i6, .i7, .i8, .i9 {
            width: 225px;
        }

        .i1, .i2, .i3, .i4, .i6 {
            float: left;
        }

        .i2, .i3, .i4 {
            margin-left: 13px;
        }

        .i4, .i6 {
            margin-right: 13px;
        }
    </style>
</head>
<body>
    <div class="container">